/* header related work */
header {
  background: linear-gradient(180deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%),
    url("images/Banner Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-section {
  text-align: center;
}
.happy-new-year {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  margin: 0;
  font-weight: 400;
  /* text-transform: capitalize; */
}
.party-celebration {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  /* text-transform: capitalize; */
  margin: 0;
}

/* main related work */
/* offer and deals releted work */
.offer {
  text-align: center;
  margin-top: 120px;
}
.offer-parcent {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 0px;
}
.holiday-deals {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.category {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
}
.new-year-img {
  width: 802.9px;
  height: 500px;
}

/* midnight releted work */

.midnight {
  border-radius: 16px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  /* height: 600px; */
  margin: 120px auto;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.midnight-greeting {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
}
.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.join {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
/* event time related work */

.event-container {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  margin: 130px auto;

  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center; /* Center items horizontally */
}

.red-clr {
  color: rgb(255, 0, 0);
}

.event-container p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(7, 2, 17);
  margin: 0;
}

.event-container button {
  border-radius: 8px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  width: 167px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 0;
  margin-top: 25px; /* Space between the paragraph and the button */
}

.happy-new-year h3 {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.happy-new-year img {
  margin-top: 20px;
  width: 150px; /* Adjust as needed */
}

/* Best offer related work */
.new-offer-container {
  width: 1320px;
  margin: 130px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* div-1 related work*/
.best-offer {
  width: 393px;
}
.best-offer h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px;
}
.best-offer h3 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0px;
}
.best-offer p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

/* div-2 related work */
.lighting-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 463px;
  height: 463px;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
}
.center-image {
  width: 90%;
  height: 90%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

/* div-3 related work */
.new-year-box {
  width: 393px;
  margin-left: auto;
}
.new-year-box h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin: 0px;
}
.new-year-box p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
}

/* Holidays sale related work */
.holidays-sale-container {
  width: 1320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: center;
  margin: 130px auto;
}
.holidays-sale-container h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px;
}
.holidays-sale-container h3 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  color: rgb(7, 2, 17);
  margin: 0px;
}
.holidays-sale-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding: 0px 130px;
}

/* Holiday-container image related work */
.holiday-sale{
  text-align: center;
  margin-top: 130px auto;
}
.holiday-sale h5{
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0px;
}
.holiday-sale h3{
  font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
color: rgb(7, 2, 17);
margin: 0px;
}
.holiday-sale p{
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0px 500px;

}

.sale-img-container {
  width: 1320px;
  height: 662px;
  margin: 64px auto;
  background-image: url("images/Rectangle 2.png"), url("images/Rectangle 1.png");
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-position: bottom, right top;
  display: flex;
  /* padding-right: 100px; */
}
.holiday-sale-img {
  width: 100%;
}
