header {
  margin: auto;
  width: 67%;
  height: 55vh;
  /* border: 3px solid green; */
  padding: 10px;
  background: rgb(0, 0, 0, 0.5) url("images/Banner Image.png");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

header section p,
h1 {
  text-transform: capitalize;
  color: #ffff;
  text-align: center;
  font-weight: bold;
}

header section h1 {
  font-size: 70px;
}

header section p {
  font-size: 40px;
}

main {
  margin-top: 100px;
}

#offer {
  margin: auto;
  width: 80%;
  height: 100vh;
  text-align: center;
}

#offerAnnouncement span {
  color: red;
  font-size: 80px;
  font-weight: bold;
}

#offerAnnouncement p {
  color: red;
  font-size: 25px;
  font-weight: 500;
}

#offerAnnouncement h2 {
  font-size: 40px;
  font-weight: bold;
}

#partEnroll {
  margin: auto;
  width: 67%;
  height: 55vh;
  /* border: 3px solid green; */
  padding: 10px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-top: 200px;
}

#partyDetails {
  margin: 20px;
  padding: 20px;
  color: aliceblue;
  width: 50%;
}

#partyDetails span {
  font-size: 60px;
  font-weight: bold;
}

#partyDetails button {
    margin-top: 10px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
}
#comingSoonBox{
    margin-top: 80px;
box-sizing: border-box;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}
#comingSoon::after {
  content: "";
  display: table;
  clear: both;
}
.comingSoonDetails{
margin-top:100px !important;
padding: 5px;
margin: 10px;
}


#comingSoonImage{
padding: 10px;
}

#comingSoonImageBox{
    border: 10px solid red;
    border-radius:250px;
}

#holidays{
    margin: auto;
  width: 67%;
  height: 55vh;
  padding: 10px;
}

#discount{
    margin: auto;
  width: 67%;
  height: 55vh;
  padding: 10px;

}